body {
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #502c31;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #502c2c;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative; /* fixedをrelativeに変更 */
    bottom: 0;
    width: 100%; /* 幅を100%に変更 */
}

